:root {
  --backgroundColor: #f7f7f7;
  --lighterColor: #00addf;
  --mainColor: #0e6ab2;
  --darkerColor: #1f61ac;
  --textColor: #3d3d3d;
  --contrastColor: #e6e6e6;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--backgroundColor);
}

.wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.content-wrapper {
  align-items: center;
  display: flex;
  height: 90vh;
  justify-content: center;
  margin-left: 200px;
  width: 100%;
}

.modal {
  background-color: white;
  border-radius: 25px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
  width: 50%;
}

.modal-header {
  align-items: center;
  background: linear-gradient(270deg, var(--darkerColor), var(--lighterColor));
  border-radius: 25px 25px 0 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 1vh 4vw;
  width: 100%;
}

.modal-header h1 {
  color: white;
  font-size: 4vmin;
}

.goBackBtn {
  color: white;
  font-size: 4vmin;
  transition: 0.3s;
}

.goBackBtn:hover {
  cursor: pointer;
  transition: 0.3s;
}

.goBackBtn:active {
  transform: scale(0.9);
  transition: 0.3s;
}

.appointments-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 2vh 2vw;
}

.appointments-header p {
  color: var(--darkerColor);
  font-size: 2vmin;
  font-weight: bolder;
}

.pages a {
  color: var(--darkerColor);
  font-size: 2vmin;
  font-weight: bolder;
  padding: 0 0.2vw;
}

.currentPage {
  cursor: default;
  color: black;
  text-decoration: none;
}

.appointments-list {
  margin: 0 2vw;
}

.appointment {
  align-items: center;
  border-bottom: 1px solid var(--contrastColor);
  color: var(--textColor);
  display: flex;
  flex-flow: row nowrap;
  font-size: 2vmin;
  font-weight: bolder;
  justify-content: space-between;
  padding: 2vh 1vw;
  transition: all 0.2s ease;
}

.appointment:nth-child(odd) {
  background-color: var(--backgroundColor);
}

.appointment:nth-child(even) {
  background-color: white;
}

.appointment:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.appointment i {
  font-size: 4vmin;
  padding: 0 0.5vw;
}

.appointment-id,
.appointment-date {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}

.fa-arrow-right {
  color: var(--darkerColor);
  cursor: pointer;
  transition: all 0.3s ease;
}

.fa-arrow-right:active {
  transform: scale(0.9);
  transition: all 0.3s ease;
}

.appointment-button {
  cursor: pointer;
  display: flex;
  background: linear-gradient(270deg, var(--darkerColor), var(--lighterColor));
  border-radius: 25px;
  justify-content: center;
  margin: 2vh auto;
  padding: 2vh 0;
  transition: all 0.3s ease;
  width: calc(100% - 4vw);
}

.appointment-button:active {
  transform: scale(0.9);
  transition: all 0.3s ease;
}

.appointment-button a {
  color: white;
  font-size: 2vmin;
  font-weight: bolder;
  text-decoration: none;
}
