:root {
    --backgroundColor: #f7f7f7;
    --lighterColor: #00addf;
    --mainColor: #0e6ab2;
    --darkerColor: #1f61ac;
    --textColor: #3d3d3d;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: var(--backgroundColor);
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    height: max-content;
  }
  
  .modal {
    background-color: white;
    border-radius: 25px;
    -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
    display: block;
    margin: 5% auto;
    width: 50%;
  }

  .modal-header {
    background: linear-gradient(270deg, var(--darkerColor), var(--lighterColor));
    border-radius: 25px 25px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vh 4vw;
    margin: 0 0 2vh 0;
    width: 100%;
  }
  
  .modal-header h1 {
    color: white;
    font-size: 20px;
    align-self: center;
    padding-top: 20px;
  }

.modal-body{
    margin: auto 0px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.modal-body h1{
    color: var(--textColor);
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0px 30px 0px ;
}

.modal-body p{
    
    text-align: justify;
    font-size: 15px;
    font-weight: bold;
    padding-left: 5%;
    padding-right: 5%;
    color: var(--textColor);
}
.modal-text{
    display: flex;
    align-items: left;
    flex-direction: column;
    padding-bottom: 10px;
}

.modal-body button {
    width: 40%;
    background: linear-gradient(270deg, var(--darkerColor), var(--lighterColor));
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    outline: none;
    padding: 0.5vh 1vw;
    transition: all 0.3s ease;
    
  }
  
  .modal-body button:active {
    transform: scale(0.95);
    transition: all 0.3s ease;
  }