:root {
    --backgroundColor: #f7f7f7;
    --lighterColor: #00addf;
    --mainColor: #0e6ab2;
    --darkerColor: #1f61ac;
    --textColor: #3d3d3d;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--backgroundColor);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(270deg, var(--darkerColor), var(--lighterColor));
    padding: 10px 2%;
    position: sticky;
    top: 0;
}

.navbar img {
    height: 15px;
    cursor: pointer;
}

.nav-links {
    display: inline-block;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}
