:root {
    --backgroundColor: #f7f7f7;
    --lighterColor: #00addf;
    --mainColor: #0e6ab2;
    --darkerColor: #1f61ac;
    --textColor: #3d3d3d;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--backgroundColor);
}

.modal {
  background-color: white;
  border-radius: 25px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
  display: block;
  margin: 5% auto;
  width: 50%;
}

.modal-header {
  background: linear-gradient(270deg, var(--darkerColor), var(--lighterColor));
  border-radius: 25px 25px 0 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 2vh 4vw;
  margin: 0 0 2vh 0;
  width: 100%;
}

.modal-header h1 {
  color: white;
  font-size: 32px;
}

.goBackBtn {
  color: white;
  font-size: 32px;
  padding: 0.5% 0;
  transition: 0.3s;
}

.goBackBtn:hover {
  cursor: pointer;
  transition: 0.3s;
}

.goBackBtn:active {
  transform: scale(0.9);
  transition: 0.3s;
}

.form {
  padding: 0 4vw;
  width: 100%;
}

.form label {
  display: block;
  margin: 0.8vh 0;
}

.form input {
  background: var(--backgroundColor);
  border: 0px;
  border-radius: 5px;
  font-size: 17px;
  outline: none;
  padding-left: 1vw;
  transition: all 0.3s ease;
  width: 100%;
}

.gender {
  display: flex;
  font-size: 0.8rem;
  justify-content: space-around;
}

input[type="submit"] {
  background: linear-gradient(270deg, var(--darkerColor), var(--lighterColor));
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  margin: 2% 0 2% 31vw;
  padding: 0.5vh 0;
  transition: all 0.3s ease;
  width: 30%;
}

input[type="submit"]:active {
  transform: scale(0.95);
}
