:root {
  --backgroundColor: #f7f7f7;
  --lighterColor: #00addf;
  --mainColor: #0e6ab2;
  --darkerColor: #1f61ac;
  --textColor: #3d3d3d;
  --contrastColor: #e6e6e6;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--backgroundColor);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    height: max-content;
}

.modal {
  background-color: white;
  border-radius: 25px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
  margin: 3% auto 5%;
  width: 50%;
}

.modal-header {
  background: linear-gradient(270deg, var(--darkerColor), var(--lighterColor));
  border-radius: 25px 25px 0 0;
  padding: 2vh 4vw;
  width: 100%;
}

.modal-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.modal-header h1 {
  color: white;
  font-size: 32px;
}

.goBackBtn {
  color: white;
  font-size: 32px;
  padding: 0.5% 0;
  transition: 0.3s;
}

.goBackBtn:hover {
  cursor: pointer;
  transition: 0.3s;
}

.goBackBtn:active {
  transform: scale(0.9);
  transition: 0.3s;
}

.medic-list {
  padding: 0 0 5vh;
}

.medic-list > p {
  padding: 2vh 0;
  text-align: center;
}

.medic {
  align-items: center;
  border-bottom: 1px solid var(--contrastColor);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: auto;
  padding: 2vh 1vw;
  width: 95%;
}

.medic button {
  background: linear-gradient(270deg, var(--darkerColor), var(--lighterColor));
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  padding: 0.5vh 1vw;
  transition: all 0.3s ease;
}

.medic button:active {
  transform: scale(0.95);
  transition: all 0.3s ease;
}

.medic:nth-child(even) {
  background-color: var(--backgroundColor);
}

.medic:nth-child(odd) {
  background-color: white;
}

.medic i {
  font-size: 35px;
}
