:root {
    --backgroundColor: #f7f7f7;
    --lighterColor: #00addf;
    --mainColor: #0e6ab2;
    --darkerColor: #1f61ac;
    --contrastColor: #e6e6e6;
    --textColor: #3d3d3d;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--backgroundColor);
}

.wrapper {
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    height: max-content;
}

.content-wrapper {
    align-items: center;
    display: flex;
    height: 90vh;
    justify-content: center;
    margin-left: 200px;
    width: 100%;
}

.modal {
    background-color: white;
    border-radius: 25px;
    -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
    display: block;
    width: 75%;
}

.modal-header {
    background: linear-gradient(
        270deg,
        var(--darkerColor),
        var(--lighterColor)
    );
    border-radius: 25px 25px 0 0;
    padding: 1vh 4vw;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.modal-header h1 {
    color: white;
}

.modal-body {
    display: grid;
    gap: 8% 2%;
    grid-template-columns: 49% 49%;
    grid-template-rows: 46% 46%;
    margin: 2vw 4vh;
    place-items: center center;
}

.modal-body canvas {
    width: 10vw;
    height: 10vh;
}

.users-chart,
.prescribed-chart,
.appointments-chart,
.symptoms-risks-chart {
    width: 100%;
}
