:root {
  --backgroundColor: #f7f7f7;
  --lighterColor: #00addf;
  --mainColor: #0e6ab2;
  --darkerColor: #1f61ac;
  --textColor: #3d3d3d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: var(--backgroundColor);
}

.image-wrapper {
  margin-bottom: 10vh;
  width: 30%;
}

.image-wrapper img {
  height: auto;
  max-width: 100%;
}

.container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  height: 90vh;
  justify-content: center;
}

.main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 100%;
}

.login-wrapper {
  width: 30%;
  background: white;
  border-radius: 15px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
}

.login-wrapper .header {
  background: linear-gradient(270deg, var(--darkerColor), var(--lighterColor));
  border-radius: 15px 15px 0 0;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.5vh 0;
  text-align: center;
  user-select: none;
}

.login-wrapper form {
  margin: 4vh 3vw;
}

.login-wrapper form .field {
  height: 5vh;
  width: 100%;
  margin-top: 2vh;
  position: relative;
}

.login-wrapper form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 1rem;
  padding-left: 1vw;
  background: var(--backgroundColor);
  border: 0px;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.login-wrapper form .field label {
  position: absolute;
  top: 50%;
  left: 1vw;
  color: lightgrey;
  font-weight: bold;
  font-size: 1rem;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

form .field input:focus ~ label,
form .field input:valid ~ label {
  top: 0%;
  font-size: 0.9rem;
  color: var(--mainColor);
  transform: translateY(-50%);
  padding: 0px 0.5vw;
  border-radius: 15px;
}

form .content {
  display: flex;
  width: 100%;
  height: 5vh;
  font-size: 1rem;
  align-items: center;
  justify-content: space-around;
}

form .content .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1rem;
}

form .content input {
  width: 15px;
  height: 15px;
}

form .content label {
  color: var(--textColor);
  user-select: none;
  padding-left: 0.5vw;
}

form .field input[type="submit"] {
  color: white;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(270deg, var(--darkerColor), var(--lighterColor));
  transition: all 0.3s ease;
}

form .field input[type="submit"]:active {
  transform: scale(0.95);
}

form .signup-link {
  color: #262626;
  margin-top: 1vh;
  text-align: center;
}

form .signup-link a {
  font-size: 1rem;
  font-weight: bold;
}

form .pass-link a {
  font-size: 1rem;
  font-weight: bold;
}

form .pass-link a,
form .signup-link a {
  color: var(--mainColor);
  text-decoration: none;
}

form .pass-link a:hover,
form .signup-link a:hover {
  text-decoration: underline;
}

.info-wrapper {
  margin: auto 0;
  width: 30vw;
}

.info-wrapper h1 {
  color: var(--mainColor);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2vh;
}

.info-text {
  font-size: 1rem;
  font-weight: bold;
  text-align: justify;
  margin-bottom: 2vh;
  color: var(--textColor);
}

.more-info {
  font-size: 1rem;
  font-weight: bold;
  color: var(--textColor);
}

.info-wrapper a {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: var(--mainColor);
  text-decoration: none;
}

.info-wrapper a:hover {
  text-decoration: underline;
}
