:root {
    --backgroundColor: #f7f7f7;
    --lighterColor: #00addf;
    --mainColor: #0e6ab2;
    --darkerColor: #1f61ac;
    --textColor: #3d3d3d;
    --contrastColor: #e6e6e6;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--backgroundColor);
}

.wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.content-wrapper {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    height: 90vh;
    justify-content: center;
    margin-left: 200px;
    width: 100%;
}

.modal {
    background-color: white;
    border-radius: 25px;
    -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
    margin: 5vh 0;
    width: 50%;
}

.modal-header {
    background: linear-gradient(
        270deg,
        var(--darkerColor),
        var(--lighterColor)
    );
    border-radius: 25px 25px 0 0;
    padding: 1vh 4vw;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.modal-header h1 {
    color: white;
}

.user-list {
    margin: 0 auto;
    width: calc(100% - 5vw);
}

.user-list > p {
    color: var(--darkerColor);
    font-size: 2vmin;
    font-weight: bolder;
    padding: 2vh 0;
    text-align: center;
}

.user {
    align-items: center;
    border-bottom: 1px solid var(--contrastColor);
    display: flex;
    flex-flow: row nowrap;
    font-size: 2vmin;
    font-weight: bolder;
    height: 8vh;
    justify-content: space-between;
    margin: auto;
    padding: 2vh 1vw;
}

.user .patient-button {
    background: linear-gradient(
        270deg,
        var(--darkerColor),
        var(--lighterColor)
    );
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 2vmin;
    font-weight: bold;
    outline: none;
    padding: 0.5vh 1vw;
    transition: all 0.3s ease;
    text-decoration: none;
}

.user .patient-button:active {
    transform: scale(0.95);
    transition: all 0.3s ease;
}

.user:nth-child(even) {
    background-color: var(--backgroundColor);
}

.user:nth-child(odd) {
    background-color: white;
}

.user .profile-pic {
    border: 2px var(--lighterColor) solid;
    border-radius: 50%;
    height: 7vmin;
    width: 7vmin;
}

.pages {
    display: flex;
    justify-content: center;
    margin: 2vh auto;
    width: calc(100% - 4vw);
}

.pages a,
.pages p {
    color: var(--darkerColor);
    font-size: 2vmin;
    font-weight: bold;
    padding: 0 0.4vw;
}

.currentPage {
    cursor: default;
    color: black;
    text-decoration: none;
}

.staff-button {
    cursor: pointer;
    display: flex;
    background: linear-gradient(
        270deg,
        var(--darkerColor),
        var(--lighterColor)
    );
    border-radius: 25px;
    justify-content: center;
    margin: 2vh auto;
    padding: 2vh 0;
    transition: all 0.3s ease;
    width: calc(100% - 4vw);
}

.staff-button:active {
    transform: scale(0.9);
    transition: all 0.3s ease;
}

.staff-button a {
    color: white;
    font-size: 2vmin;
    font-weight: bolder;
    text-decoration: none;
}
